body{
    height: 100vh;
    width: 100vw;
    background-color: #171a4a;
    color: #ffcc50;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
h1{
    display:inline;
    font-size: 100px;
}
p{
    color: #ffcc50;
}
button{
    width: 150px;
    height: 35px;
    background-color: white;
    font-style: oblique;
    font-weight: bold;
    cursor: pointer;
}