/* Estilos gerais para o container */
.container {
    width: 80%;
    margin: 0 auto;
    height: 100%;
    font-family: Arial, sans-serif;
    padding-top: 30px;
}

/* Título da página */
h3 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
}

/* Estilo para o formulário de eventos */
.event-form {
    display: flex;
    max-width: 500px;
    flex-direction: column;
    gap: 12px;
    margin: 0;
}

/* Estilo para os campos de entrada do formulário */
input[type="text"],
input[type="number"],
input[type="datetime-local"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}
/* Estilo para o botão de adicionar evento */
.but-event {
    padding: 10px 20px;
    background-color: #ff9800;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
}

.but-event:hover {
    background-color: #df8600;
}

/* Estilo para os botões de editar e excluir */

.eventos-container a {
    font-size: 16px;
    color: white;
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

.eventos-container a:hover {
    text-decoration: underline;
}

.btn-excluir {
    background-color: #f10404;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.btn-editar {
    background-color: #000020;
    color: white;
    padding: 8px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
    transition: background-color 0.3s ease;
}

.eventos-container {
    margin-top: 20px;
    padding: 20px;
    display: flex; /* Alinha os filhos lado a lado */
    justify-content: space-between; /* Espaça os itens igualmente */
    background-color: #000020;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    height: 85%;
    width: 100%; /* Definindo largura para o container das planilhas */
}

.evento-cadastro{
    background-color: #000020;
    color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.eventos-grid {
    width: 70%;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    background-color: white;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow-y: auto;
}


.botoes{
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}

/* Responsividade para telas menores */
@media screen and (max-width: 1330px) {
    .container {
        flex-direction: column; /* Empilha os itens em telas pequenas */
        align-items: center; /* Alinha o conteúdo ao centro */
    }
    

    .eventos-container {
        width: 100%; /* Ocupa toda a largura disponível em telas menores */
        flex-direction: column;
        height: 110%;
    }

    form {
        width: 100%; /* O formulário também ocupa toda a largura disponível */
    }

    .eventos-grid {
        width: 100%; /* A grid ocupa toda a largura em telas pequenas */
        justify-content: center; /* Centraliza os "quadradinhos" */
        padding: 0px;
    }
}
