
/* Container principal */
.container {
    width: 80%;
    margin-top: 20px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

/* Títulos */
h2 {
    font-size: 28px;
    color: #333;
    margin-bottom: 15px;
}

h3 {
    font-size: 18px;
    text-align: justify;
    line-height: 1.6;
    color: #555;
}

/* Carrossel */
.carousel-container {
    position: relative;
    max-width: 100%;
    overflow: hidden;
    margin: 20px auto;
    border-radius: 10px;
}

.carousel {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carousel-item {
    min-width: 100%;
    transition: opacity 0.5s ease-in-out;
    display: none;
}

.carousel-item.active {
    display: block;
}

/* Botões de navegação do carrossel */
.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}

.prev {
    left: 10px;
}

.next {
    right: 10px;
}

.prev:hover, .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
