* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color: #171a4a;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 100vh;
    color: white;
}

h1 {
    color: #ffcc50;
}


.head {
    justify-content: center;
    display: flex;
    align-items: center;
    margin: 10px;
}

h3{
    margin-top: 25px;
}
.footer{
    width: 97px;
    height: 15px;
    margin-top: 25px;
}
.total{
    margin-top: 25px;
}