.container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    align-items: center;
    gap: 2rem;

}

.container p{
    max-width: 50rem;
}

.content-wrapper{
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.tabs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 20px 0;
}
.tabs h4{
    font-size: 40px;
}
.tab-list {
    list-style: none;
    padding: 0;
    display: flex;
}
.tab-item {
    cursor: pointer;
    padding: 10px 20px;
    background: #ff9800;
    margin-right: 5px;
    font-weight: bold;
    color: #000020;
    border-radius: 5px;
}
.tab-item.active {
    background: #d1d1d1;
    font-weight: bold;
    background: #000020;
    color: #ff9800;
}
.tab-content {
    display: none;
    margin-top: 20px;
}
.tab-content.active {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    height: 50%;
    justify-content: center;
    gap: 1rem;
}

.result-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%;
    background-color: #d1d1d1;
    border-radius: 15px;
    justify-content: space-around;
}

.result-box h4{
    font-size: 25px;
}
.resultados{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 29%;
    background-color:#d1d1d1;
    border-radius: 15px;
}
.form-3{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 3rem;

}
.form-3 button{
    width: 200px;
    margin-top: 3rem;
}
.form-group{
    display: flex;
    width: 80%;
}
.form-group input{
    border-radius: 5px;
    width: 100%;
    height: 80%;
    border: transparent;
    font-size: 15px;
}
.form-gp{
    display: flex;
    flex-direction: row;
    width: 80%;
    
}
.form-group-gp{
    display: flex;
    width: 100%;
    font-size: 20px;
    flex-direction: column;
    align-items: center;
}
@media screen and (max-width: 1330px) {
    .container {
        width: 95%;
    }
    .result-box{
        width: 80%;
        background-color: #d1d1d1;
        border-radius: 15px;
    
    }
    .resultados{
        width: 80%;
        background-color:#d1d1d1;
        border-radius: 15px;
    }
}

@media screen and (max-width: 1064px) {
    .container {
        width: 95%;
    }
    .result-box{
        width: 80%;
        background-color: #d1d1d1;
        border-radius: 15px;
    
    }
    .resultados{
        width: 80%;
        background-color:#d1d1d1;
        border-radius: 15px;
    }
}
