body {
    background-color: gray;
}

.resultados{
    display: flex;
    flex-direction: column;
    background-color: bisque;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 10vw;
}

.content-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80vw;
}

.result-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    height: 100vh;
    width: 50vw;
    padding: 2vh;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

form input {
    margin-bottom: 2vh;
    width: 20vw;
    height: 3vh;
    padding: 0.5vh;
    border: 1px solid #ccc;
    border-radius: 4px;
}