/* RESET E CONFIGURAÇÕES GERAIS */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: "Roboto Condensed", serif;
}

body {
  width: 100%;
}

header{
  background-color: #000020;
  box-shadow: 0px 3px 10px #ff9800;
}

.container-box{
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 6rem;
}

.logo {
  display: flex;
  align-items: center;
}

.logo img {
  width: 50px;
}

.nav-list {
  display: flex;
  align-items: center;
}

.nav-list ul {
  display: flex;
  justify-content: center;
  list-style: none;
}

.nav-item {
  margin: 0 15px;
}

.nav-link {
  text-decoration: none;
  font-size: 1.15rem;
  color: white;
  font-weight: 400;
}

.login-button button {
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #ff9800;
}

.login-button button a {
  text-decoration: none;
  color: #fff;
  font-weight: 500;
  font-size: 1.1rem;
}

.mobile-menu-icon {
  display: none;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 730px) {
  .nav-bar {
      padding: 1.5rem 4rem;
  }
  .nav-item {
      display: none;
  }
  .login-button {
      display: none;
  }
  .mobile-menu-icon {
      display: block;
  }
  .mobile-menu-icon button {
      background-color: transparent;
      border: none;
      cursor: pointer;
  }
  .mobile-menu ul {
      display: flex;
      flex-direction: column;
      text-align: center;
      padding-bottom: 1rem;
  }
  .mobile-menu .nav-item {
      display: block;
      padding-top: 1.2rem;
  }
  .mobile-menu .login-button {
      display: block;
      padding: 1rem 2rem;
  }
  .mobile-menu .login-button button {
      width: 100%;
  }
  .open {
      display: block;
  }
}