{% extends 'layout.html' %}
{% block title %}Cadastro{% endblock %}
{% block content %}
<h2>Registrar Usuário</h2>

<form method="POST">
    <label for="nome_usuario">Nome de Usuário:</label>
    <input type="text" id="nome_usuario" name="nome_usuario" required><br><br>

    <label for="senha">Senha:</label>
    <input type="password" id="senha" name="senha" required><br><br>

    <label for="eh_admin">Administrador:</label>
    <input type="checkbox" id="eh_admin" name="eh_admin"><br><br>

    <input type="submit" value="Registrar">
</form>

<p>Já tem uma conta? <a href="{{ url_for('login') }}">Faça login aqui</a>.</p>
{% endblock %}