{% extends 'layout.html' %}
{% block title %} Eventos {% endblock %}
{% block content %}
<div class="content">

    <div class="content-event">
        <h3>Cadastrar Novo Evento</h3>
        <form class="event-form" action="{{ url_for('eventos') }}" method="POST">
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
            
            <label for="contato">Contato:</label>
            <input type="text" id="contato" name="contato" required>
            
            <label for="preco">Preço:</label>
            <input type="number" id="preco" name="preco" step="0.01" required>
            
            <label for="data_horario">Data e Horário:</label>
            <input type="datetime-local" id="data_horario" name="data_horario" required>
            
            <label for="local">Local:</label>
            <input type="text" id="local" name="local" required>
            
            <button class="but-event" type="submit">Adicionar Evento</button>
        </form>
        
    </div>

    
    <div class="meus-eventos">
        <h3>Meus Eventos</h3>
        <ul>
            {% for evento in eventos %}
                <li>
                    <strong>{{ evento.nome }}</strong>  
                    <span class="evento-data">Data e Hora: {{ evento.data_horario }}</span>  
                    <span class="evento-local">Local: {{ evento.local }}</span>  
                    <span class="evento-valor">ValorR$: {{ evento.preco }}</span>  
                    <span class="evento-contato">Contato: {{ evento.contato }}</span>                    
                    <br>
                    <div class="botoes">
                        <a class="botao-editar" href="{{ url_for('editar_evento', id_evento=evento.id) }}">Editar</a>
                        <form action="{{ url_for('excluir_evento', id_evento=evento.id) }}" method="POST" style="display:inline;">
                            <button class="botao-excluir" type="submit">Excluir</button>
                        </form>
                    </div>
                </li>
            {% endfor %}
        </ul>
        
        <!-- Botões de Paginação -->
        <div class="paginacao">
            {% if pagina > 1 %}
                <a href="{{ url_for('eventos', pagina=pagina-1) }}" class="link-pagina">Anterior</a>
            {% endif %}
            
            {% for p in range(1, total_paginas + 1) %}
                <a href="{{ url_for('eventos', pagina=p) }}" class="link-pagina {% if p == pagina %}ativo{% endif %}">{{ p }}</a>
            {% endfor %}
            
            {% if pagina < total_paginas %}
                <a href="{{ url_for('eventos', pagina=pagina+1) }}" class="link-pagina">Próxima</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}
