<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
    <title>Document</title>

</head>
<body>
    <div class="cab">
        <h1>PSIF</h1>
        <p>Plataforma de Simulação de Investimentos para Formatura</p>
    </div>
    <a href="/login"><button>LOGIN</button></a>
    <a href="/cadastro"><button>CADASTRO</button></a>
    <a href="/juros"><button>JUROS</button></a>
    <a href="/planilha"><button>PLANILHA</button></a>
    <a href="/evento"><button>EVENTO</button></a>
</body>
</html> 