<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Simulação de Juros</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='juros.css') }}">
</head>
<body>
    <div class="container">
        <div class="content-wrapper">
            <div class="result-box">
                <h1>Simulação de Juros</h1>
                <form method="post" class="form-container" id="calculationForm">
                    <div class="form-group">
                        <label class="informações" for="valor">Objetivo (R$):</label>
                        <input type="text" id="valor" name="valor" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="informações" for="taxa">Taxa de Juros (% ao ano):</label>
                        <input type="text" id="taxa" name="taxa" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="informações" for="periodo">Período (meses):</label>
                        <input type="text" id="periodo" name="periodo" class="form-control" required>
                    </div>
                    <div class="form-group">
                        <label class="informações" for="pessoas">Número de Pessoas:</label>
                        <input type="text" id="pessoas" name="pessoas" class="form-control" required>
                    </div>
                    <button type="submit" class="button" id="calculateButton">Calcular</button>
                    <button type="submit" class="button"><a href="{{ url_for('index' ) }}">Voltar para a Página Inicial</a></button>
                </form>
                        </div>
                        <div class="resultados">
                            {% if valor_total_simples is not none %}
                            <h5>Juros Simples</h5>
                            <p>Objetivo: R$ {{ objetivo }}</p>
                            <p>Taxa de Juros: {{ taxa_juros }}%</p>
                            <p>Período: {{ periodo_meses }} meses</p>
                            <p>Mensalidade: R$ {{ mensalidade_simples }}</p>
                            {% if mensalidade_por_pessoa_simples is not none %}
                            <p>Mensalidade por Pessoa: R$ {{ mensalidade_por_pessoa_simples }}</p>
                            <p>Valor Total após juros: R$ {{ valor_total_simples }}</p>
                            {% endif %}
                            {% endif %}
                        </div>
                    </div>
                </div>
            </body>
            </html>
            