<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Título Padrão{% endblock %}</title>
    {% block style %}{% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <header>
        <nav class="nav-bar">
            <div class="logo">
                <img src="/static/img/PSIF.png" alt="">
            </div>
            <div class="nav-list">
                <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simulacao') }}">Simulação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('eventos') }}">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('planilhas') }}">Planilhas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            {% if current_user.is_authenticated %}
            
            {% else %}
                <div class="login-button">
                    <button><a href="{{ url_for('login') }}">Entrar</a></button>
                </div>

            {% endif %}
            <div class="mobile-menu-icon">
                <button onclick="menuShow()"><img class="icon" src="static/img/menu_white_36dp.svg" alt=""></button>
            </div>
        </nav>
        <div class="mobile-menu">
            <ul>
                    <li class="nav-item"><a href="/" class="nav-link">Início</a></li>
                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('simulacao') }}">Simulação</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('eventos') }}">Eventos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('planilhas') }}">Planilhas</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('logout') }}">Logout</a>
                        </li>
                    {% endif %}
                </ul>

            {% if current_user.is_authenticated %}
            
            {% else %}
                <div class="login-button">
                    <button><a href="{{ url_for('login') }}">Entrar</a></button>
                </div>

            {% endif %}
        </div>
    </header>

    <div class="container-box">
        {% block content %}
        <!-- Conteúdo principal será inserido aqui -->
        {% endblock %}
    </div>

    <footer>
        <img src="src/images/wave.svg" alt="">

        <div id="footer_items">
            <span id="copyright">
                &copy 2025 PSIF
            </span>

            <div class="social-media-buttons">
                <a href="">
                    <i class="fa-brands fa-whatsapp"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-instagram"></i>
                </a>

                <a href="">
                    <i class="fa-brands fa-facebook"></i>
                </a>
            </div>
        </div>
    </footer>

    <script>
        function menuShow() {
            let menuMobile = document.querySelector('.mobile-menu');
            if (menuMobile.classList.contains('open')) {
                menuMobile.classList.remove('open');
                document.querySelector('.icon').src = "static/img/menu_white_36dp.svg";
            } else {
                menuMobile.classList.add('open');
                document.querySelector('.icon').src = "static/img/close_white_36dp.svg";
            }
        }
    </script>
    {% block script %}{% endblock %}
</body>
</html>
