{% extends 'layout.html' %}
{% block title %}Painel{% endblock %}
{% block content %}
    <div class="dashboard-container">
        <h2>Painel de Controle</h2>
        <p>Bem-vindo(a), {{ session['nome_usuario'] }}</p>
        <a href="{{ url_for('adicionar_usuario') }}">Adicionar Usuário</a>
        <a href="{{ url_for('logout') }}">Sair</a>

        <h3>Lista de Usuários</h3>
        <ul>
            {% for usuario in usuarios %}
                <li>{{ usuario }}</li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}