<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='piscina.css') }}">
    <title>Document</title>

</head>
<body>
    <header>
        <h1>Cabeçalho</h1>
    </header>

    <div class="container">
        <aside>
            sidebar
        </aside>

        <div class="content">
            {% block content %}
            <h1>PARABENS VOCÊ ACABA DE ESCOLHER UMA PISCINA</h1>
            {% endblock %}
        </div>
    </div>

    <footer>
        <p> rodapé </p>
    </footer>
</body>
</html>
