<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='planilha.css') }}">
</head>
<body>
    <div class="container">
        <div class="head">
            <h1>PLANILHA</h1>
        </div>

        <form method="post">
                <table border="1">
                    <tr>
                        <td>PESSOAS</td>
                        <td>JAN</td>
                        <td>FEV</td>
                        <td>MAR</td>
                        <td>ABR</td>
                        <td>MAI</td>
                        <td>JUN</td>
                        <td>JUL</td>
                        <td>AGO</td>
                        <td>SET</td>
                        <td>OUT</td>
                        <td>NOV</td>
                        <td>DEZ</td>
                        <td>TOTAL</td>
                    </tr>
                    <tr>
                        <td>VINICIOS</td>
                        <td><input type="checkbox" name='jan_vini' value="10" {% if 'jan_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='fev_vini' value="10" {% if 'fev_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mar_vini' value="10" {% if 'mar_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='abr_vini' value="10" {% if 'abr_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mai_vini' value="10" {% if 'mai_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jun_vini' value="10" {% if 'jun_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jul_vini' value="10" {% if 'jul_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='ago_vini' value="10" {% if 'ago_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='set_vini' value="10" {% if 'set_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='out_vini' value="10" {% if 'out_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='nov_vini' value="10" {% if 'nov_vini' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='dez_vini' value="10" {% if 'dez_vini' in checked_items %}checked{% endif %}></td>
                        <td>{% if 'vini' in total_por_pessoa %}{{total_por_pessoa['vini']}}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>LOURRANNY</td>
                        <td><input type="checkbox" name='jan_lourranny' value="10" {% if 'jan_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='fev_lourranny' value="10" {% if 'fev_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mar_lourranny' value="10" {% if 'mar_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='abr_lourranny' value="10" {% if 'abr_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mai_lourranny' value="10" {% if 'mai_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jun_lourranny' value="10" {% if 'jun_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jul_lourranny' value="10" {% if 'jul_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='ago_lourranny' value="10" {% if 'ago_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='set_lourranny' value="10" {% if 'set_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='out_lourranny' value="10" {% if 'out_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='nov_lourranny' value="10" {% if 'nov_lourranny' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='dez_lourranny' value="10" {% if 'dez_lourranny' in checked_items %}checked{% endif %}></td>
                        <td>{% if 'lourranny' in total_por_pessoa %}{{total_por_pessoa['lourranny']}}{% endif %}</td>
                    </tr>
                    <tr>
                        <td>CLENILSON</td>
                        <td><input type="checkbox" name='jan_clenilson' value="10" {% if 'jan_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='fev_clenilson' value="10" {% if 'fev_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mar_clenilson' value="10" {% if 'mar_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='abr_clenilson' value="10" {% if 'abr_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='mai_clenilson' value="10" {% if 'mai_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jun_clenilson' value="10" {% if 'jun_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='jul_clenilson' value="10" {% if 'jul_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='ago_clenilson' value="10" {% if 'ago_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='set_clenilson' value="10" {% if 'set_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='out_clenilson' value="10" {% if 'out_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='nov_clenilson' value="10" {% if 'nov_clenilson' in checked_items %}checked{% endif %}></td>
                        <td><input type="checkbox" name='dez_clenilson' value="10" {% if 'dez_clenilson' in checked_items %}checked{% endif %}></td>
                        <td>{% if 'clenilson' in total_por_pessoa %}{{total_por_pessoa['clenilson']}}{% endif %}</td>
                    </tr>
                </table>
                <div class="total" style="font-size: 15px;">
                    <div class="calcular"><input class="calcular1" type="submit" value="Calcular "></div>
                </div>

                {% if total is not none %}
                <div class="footer">
                    <h3>Valor Total: {{ total }}</h3>
                </div>
                {% endif %}
        </form>

        </div>
    </div>
</body>
</html>
