{% extends 'layout.html' %}

{% block title %}Planilha{% endblock %}
{% block style %}<link rel="stylesheet" href="{{ url_for('static', filename='planilhas.css') }}">{% endblock %}

{% block content %}

<div class="container">

    <div class="planilhas-conteiner">
        <div class="planilha-cadastro">
            <h2>Cadastro de planilhas</h2>

            <form action="/planilhas" method="POST">
                Título: <input type="text" name="descricao" required>
                Objetivo: <input type="number" name="objetivo" required>
                Data de Início: <input type="date" name="data_ini" required>
                Data de Fim: <input type="date" name="data_fim" required>
                <input class="botao-planilha" type="submit" value="Cadastrar">
            </form>
        </div>
        
        <div class="planilha-grid">
            {% for p in planilhas %}
                <div class="plan">
                    <a href="{{ url_for('planilha', id=p.id) }}">
                    
                    <h4>Descrição: {{ p['descricao'] }}</h4>
                    <h4>Objetivo: {{ p['objetivo'] }}</h4>
                    <h4>Data inicio: {{ p['data_ini'] }}</h4>
                    <h4>Data fim: {{ p['data_fim'] }}</h4>
                    </a>

                

                    <div class="btns">
                        <form action="{{ url_for('excluir_planilha', id_planilha=p.id) }}" method="post">
                            <a href=""><button type="submit" class="btn-excluir" onclick="return confirm('Tem certeza que deseja excluir esta Planilha?')">Excluir</button></a> 
                        </form>

                        <a href="{{ url_for('editar_planilha', id_planilha=p.id) }}">
                                <button type="submit" class="btn-editar">Editar</button>
                        </a>
                    </div>

                </div>
            {% endfor %}
        </div>
        
    </div>

</div>

{% endblock %}