<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário Select</title>
</head>
<body>
    <form action="/submit" method="GET">
        <label for="opcao">Escolha uma opção:</label>
        <select name="opcao" id="opcao">
            <option value="Piscina">Casa com Piscina</option>
            <option value="Churras">Churrasco</option>
            <option value="Quer dar a bunda mesmo?">Dara</option>
        </select>
        <button type="submit">Enviar</button>
    </form>
</body>
</html>
