body {
  margin: 0;
  font-family: Arial, sans-serif;
}
.sidebar {
  height: 100vh;
  width: 250px;
  background-color: #0D3966;
  color: #D3D3D3;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px;
  box-sizing: border-box;
}
.main-content {
  margin-left: 250px;
  padding: 20px;
}
.header {
  background-color: #0D3966;
  color: #D3D3D3;
  padding: 20px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin: -20px;
}
.header div {
  flex: 1;
  text-align: center;
  cursor: pointer;
  padding-bottom: 5px;
}
.header div.active {
  border-bottom: 2px solid #D3D3D3;
}
.container {
  border: 1px solid #ccc;
  padding: 20px;
  margin-top: 50px;
  margin-left: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  width: 500px;
  height: 250px;
}
.event-photo {
  width: 100%;
  height: auto;
}
.event-details {
  margin-top: 20px;
}
.event-details p {
  margin: 5px 0;
}
.edit-button {
  display: block;
  margin: 20px 0 0;
  padding: 10px 20px;
  background-color: #0D3966;
  color: #D3D3D3;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
}
.edit-button:hover {
  background-color: #0A2850;
}
a {
  color: inherit;
  text-decoration: none;
}